version: 2.1

orbs:
  node: circleci/node@4.7

jobs:
  test:
    docker:
      - image: cimg/node:16.10
    steps:
      - checkout
      - run:
          name: List project files
          command: ls -la

      - run:
          name: Install dependencies
          command: |
            npm ci
            npm install
            npm install jest-junit 
      - run:
          name: Run tests
          command: npm test
      - store_artifacts:
          path: reports
      - store_test_results:
          path: reports
      - store_artifacts:
          path: coverage
      - run:
          name: Debug info
          command: |
            ls -la
            cd /
            ls -la
            cd ~
            ls -la


          
workflows:
  sample:
    jobs:
      - test
